<h1>Welcome</h1>

<%= form_for :user, url: user_sessions_path do |f|%>
  <P>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<% unless @error.nil? %>
<p><%= @error %></p><br>
<h3>Create a new account:</h3>
<%= link_to "Creat Account", :controller => "users", :action => "new" %>%>
<% end %>
